body {
    background-color: #c8c6c6;
}

.login {
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px #343434;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0px;

}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #888888;
}

input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #3e8e41;
}

a {
    text-align: center;
  }