body {
    background-color: #f4f9f4;
}

.login {
    width: 300px;
    height: 370px;
    margin: 60px auto;
    padding: 30px;
    box-shadow: 0px 0px 10px #4c6687;
    background: linear-gradient(#5e5e5e,#a4a358 );
    background-size: auto;
    border-radius: 30px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0px;

}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #888888;
}

input[type=button] {
    width: 50%;
    background-color: #626262;
    color: white;
    padding: 14px 20px;
    margin: 0 auto; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;

}

input[type=button]:hover {
    background-color: #c4e3cb;
}

.pass{
    margin-top: -10px;
    display: flex;
    justify-content:space-between;
  }

  #bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  /* Gunakan kode ini jika Anda ingin menambahkan efek blur atau lainnya ke video */
  #bg-video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* warna transparan untuk efek blur */
    z-index: -1;
  }
  